<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= simple_form_for RequestForm.new(params) do |f| %>
  <h2>Информация о вас</h2>

  <%= f.error_notification %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :organization %>
  <%= f.input :email %>
  <%= f.input :city %>
  <%= f.input :phone %>
  <%= f.input :topics, collection: Service.all, as: :check_boxes %>
  <%= f.input :comments, as: :text, input_html: { rows: 5 } %>
  <%= f.button :submit %>
<% end %>
